<h1>Listing online_users</h1>

<table>
  <tr>
  </tr>

<% @online_users.each do |online_user| %>
  <tr>
    <td><%= link_to 'Show', online_user %></td>
    <td><%= link_to 'Edit', edit_online_user_path(online_user) %></td>
    <td><%= link_to 'Destroy', online_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New online_user', new_online_user_path %>